.QueueItem__container{
    width: 220px;
    padding: 5px 0px;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
.QueueItem__container:hover{
    background-color: #51a3cc;
    color: white;
}
.QueueItem__container p{
    font-weight: 500;
    font-size: 0.8em;
}
.QueueItem__name {
    margin-left: 20px;
}
.QueueItem__value {
    margin-right: 20px;
}